<h1>GeoPhoto</h1>

<p>Welcome to ShittyPhotoSharer!</p>



<% if !logged_in? %>
<%= link_to 'Sign Up', new_user_path %>
<%= link_to 'Sign In', login_path %>
<% else %>
  <p>What's up, <%= current_user.username %>?</p>

  <h3>Add a new photo</h3>
  <%= form_for(@photo) do |f| %>
    <div>
      <%= f.text_field :title, placeholder: "Choose a title for this photo" %>
    </div>
    <%= f.submit "Add Photo" %>
  <% end %>
<% end %>