<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h3>Edit album:</h3>

    <%= form_for([@user, @album]) do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, placeholder: "Enter album title here.",  class: "form-control"  %>
      </div>
      <%= f.submit "Edit album!", class: "btn btn-primary" %>
    <% end %>

    <div class="vert-spacing">
      <%= link_to "Delete Album", user_album_path, method: :delete, data: { confirm: "Are you sure you want to delete this album?" }, class: "btn btn-primary" %>
    </div>
  <div class="col-md-4"></div>
</div>


