<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">

    <h3>Album title: <%= @album.title %></h3>

    <%= link_to "Edit Album", edit_album_path, class: "btn btn-primary" %>

    <% @album.photos.each do |photo| %>
      <%= photo.title %>
      <%= image_tag photo.image %>
    <% end %>
    <h3>Add Photo:</h3>
    <%= form_for [@album, @photo], html: { multipart: true } do |f| %>
      <div class="form-group">
        <%= f.text_field :title, placeholder: "Photo title", class: "form-control" %>
      </div>
        <%= f.label "Choose a file to upload" %>
        <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
        <%= f.submit "Add Photo", class: "btn btn-default" %>

    <% end %>

  </div>
  <div class="col-md-4"></div>
</div>