<div class="main-container">
	<%= image_tag @photo.image %><br>

	<%= form_for [@album, @photo] do |f| %>
	  Latitude: <%= f.number_field :latitude, :in => -85..85, :step => 0.001 %><br>
	  Longitude: <%= f.number_field :longitude, :in => -180..180, :step => 0.001 %><br>
	  <h3>Edit Photo Location:</h3>
	<div class="vert-spacing">
		<p>Choose a new location for your photo and click "Save" to see your changes!</p>
	</div>
	<div class="vert-spacing">
		<%= render "shared/gmap" %>
	</div>
	<%= f.submit "Save", :class => 'btn' %>
	<% end %>
	<%= link_to "Delete", album_photo_path(@album, @photo), method: :delete, data: { confirm: "Are you sure you want to delete this photo?" } %>
</div>